.h5-items{
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.71);
}
.h5-items-s{
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin-top: 8px;
    color: rgba(0, 0, 0, 0.71);
}
.h1-items{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}
.p-items{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.items-div{
    background-color: #f7f8f7;
    padding: 20px 30px;
    width: 300px;
    border-radius: 15px;
    height:550px;
}
.Ec{
    font-family: 'Rubik', sans-serif;
    color: #67706B;
    font-size: 18px;
}
.items-div h2{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #67706B;
    margin-top:20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.hr-line{
    color: rgba(0, 0, 0, 0.592);
}
.items-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    height: 50px;
    border: 1px solid #5E0BD1;
    color: #5E0BD1;
    border-radius: 5px;


}
.item-btn-apply{
    color: white;
    background-color: #5E0BD1;
    margin-bottom: 10px;
}
.m-div{
    /* background-image: url("../images/bgimg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; */
}
.jg{
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    color: #008E67;
    margin-left: 10px;
    background-color:#C7FFE1;
    padding: 2px 10px;
    border-radius: 20px;
    font-weight: 600;
}

#navbar-s{
    position: fixed;
    /* background-color: white; */
    z-index: 1000;
    top:20px;
    margin-top: -10px;

}

#nih{
    font-size: 14px;color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600; 
    font-family: 'Rubik', sans-serif;
    margin-top: 5px;
    cursor: pointer;
}
#nih:hover{
    color: #00268e;
}



#greenscreen{
    text-align: center;
  
    color: rgb(0, 0, 0);
    padding: 30px;
}

.insidegreen{
    display: flex;
    justify-content: space-around;
   
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width:85%
}

.insidegreen img{
    margin: -30px;
    width: 100%;
    border-radius: 10px;
}

.insidegreen>div{
    width: 40%;
    text-align: left;
    padding-top: 35px;
}

/* .insidegreen>div:nth-child(1){
    width: 35%;
    padding: 25px;
    padding-left: 45px;
} */

#greenscreen>p:nth-child(1){
    color: #47df8b;
}


.green-bg {
    background: #120e56;
    text-align: center;
    padding-bottom: 12px;
    padding: 25px;
}

.green-bg img{
    width: 20%;

}