.h5-items{
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.71);
}
.h5-items-s{
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin-top: 8px;
    color: rgba(0, 0, 0, 0.71);
}
.h1-items{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}
.p-items{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.items-div{
    background-color: #f7f8f7;
    padding: 20px 30px;
    width: 300px;
    border-radius: 15px;
    height:550px;
}
.Ec{
    font-family: 'Rubik', sans-serif;
    color: #67706B;
    font-size: 18px;
}
.items-div h2{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #67706B;
    margin-top:20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.hr-line{
    color: rgba(0, 0, 0, 0.592);
}
.items-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    height: 50px;
    border: 1px solid #5E0BD1;
    color: #5E0BD1;
    border-radius: 5px;


}
.item-btn-apply{
    color: white;
    background-color: #5E0BD1;
    margin-bottom: 10px;
}
.m-div{
    /* background-image: url("../images/bgimg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; */
}
.jg{
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    color: #008E67;
    margin-left: 10px;
    background-color:#C7FFE1;
    padding: 2px 10px;
    border-radius: 20px;
    font-weight: 600;
}

#navbar-s{
    position: fixed;
    /* background-color: white; */
    z-index: 1000;
    top:20px;
    margin-top: -10px;

}

#nih{
    font-size: 14px;color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600; 
    font-family: 'Rubik', sans-serif;
    margin-top: 5px;
    cursor: pointer;
}
#nih:hover{
    color: #008E67;
}
